<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         cacheResultFile="var/.cache/phpunit/test-results"
         bootstrap="vendor/autoload.php"
         executionOrder="random"
         resolveDependencies="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">app</directory>
        </include>
    </source>
    <coverage cacheDirectory="var/.cache/phpunit/code-coverage"
              pathCoverage="true"
              includeUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="false"
              disableCodeCoverageIgnore="false">
        <report>
            <html outputDirectory="var/.report/coverage/html"/>
            <text outputFile="var/.report/coverage/coverage.txt"/>
            <clover outputFile="var/.report/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
